.editor {
  width: 100%;
  height: 100%;

  &-left,
  &-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 270px;
    background-color: red;
  }

  /* 左侧预览组件区 */
  &-left {
    left: 0;
    &-item {
      position: relative;
      width: 250px;
      min-height: 100px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      box-sizing: border-box;
      cursor: move;
      > span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: royalblue;
      }

      /* 左侧透明蒙层，盖住预览组件，阻止默认行为 */
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #ccc, $alpha: 0.2);
        z-index: 100;
      }
    }
  }

  /* 右侧属性编辑器区 */
  &-right {
    right: 0;
  }

  /* 顶部工具栏 */
  &-top {
    position: absolute;
    left: 280px;
    right: 280px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      width: 60px;
      height: 60px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba($color: #000000, $alpha: 0.3);
      margin-right: 5px;
      cursor: pointer;
      user-select: none;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  /* 主体内容区 */
  &-container {
    padding: 80px 280px 0;
    height: 100%;
    box-sizing: border-box;
    &-canvas {
      overflow: auto;
      height: 100%;

      &__content {
        position: relative;
        margin: 20px auto;
        background-color: yellow;
      }
    }

    // 横向辅助线
    &__line-y {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 100;
      border: 1px dashed red;
    }

    // 纵向辅助线
    &__line-x {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 100;
      border: 1px dashed red;
    }
  }
}

.editor-block {
  position: absolute;

  // 模拟元素浮层
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.editor-block-focus {
  // focus时给模拟元素添加样式
  &::after {
    content: "";
    border: 2px dashed red;
  }
}
