.editor {
  width: 100%;
  height: 100%;

  &-left,
  &-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 270px;
    border-radius: 4px;
  }

  /* 左侧预览组件区 */
  &-left {
    left: 0;
    background-color: rgb(194, 3, 194);
    &-item {
      position: relative;
      width: 250px;
      min-height: 100px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f2f2f2;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 4px;
      overflow: hidden;
      cursor: move;
      > span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: royalblue;
        color: #fff;
      }

      /* 左侧透明蒙层，盖住预览组件，阻止默认行为 */
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #ccc, $alpha: 0.2);
        z-index: 100;
      }
    }
  }

  /* 右侧属性编辑器区 */
  &-right {
    right: 0;
    background-color: cadetblue;
    &-form {
      padding: 30px;
    }
  }

  /* 顶部工具栏 */
  &-top {
    position: absolute;
    left: 280px;
    right: 280px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      width: 60px;
      height: 60px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba($color: #000000, $alpha: 0.3);
      margin-right: 5px;
      cursor: pointer;
      user-select: none;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  /* 主体内容区 */
  &-container {
    padding: 80px 280px 0;
    height: 100%;
    box-sizing: border-box;
    &-canvas {
      overflow: auto;
      height: 100%;

      &__content {
        position: relative;
        margin: 20px auto;
        background-color: rgb(228, 228, 228);
      }
    }

    &__line-y,
    &__line-x {
      position: absolute;
      z-index: 100;
      border: 1px dashed red;
    }

    // 横向辅助线
    &__line-y {
      left: 0;
      right: 0;
    }

    // 纵向辅助线
    &__line-x {
      top: 0;
      bottom: 0;
    }
  }

  /* 内容区块 */
  &-block {
    position: absolute;

    // 模拟元素浮层
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    // 选中
    &-focus {
      // focus时给模拟元素添加样式
      &::after {
        content: "";
        border: 2px dashed red;
      }
    }

    // 预览
    &-preview {
      // 预览时隐藏模拟元素浮层
      &::after {
        content: "";
        display: none;
      }
    }
  }

  /* 右键菜单 */
  &-dropdown {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 2px 2px 5px #e5e5e5;
    border-radius: 4px;
    overflow: hidden;
    &.is-show {
      display: block;
    }

    &-item {
      min-width: 60px;
      line-height: 30px;
      border-bottom: 1px solid #e5e5e5;
      text-align: center;
      cursor: pointer;
      user-select: none;
      padding: 0 20px;
      &:hover {
        background-color: #eee;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
